demo/app/build/
demo/.gradle/
demo/.idea/
demo/demo.iml
demo/gradle/
demo/gradlew
demo/gradlew.bat
demo/local.properties
demo/app/app.iml
demo2/app/build/
demo2/.gradle/
demo2/.idea/
demo2/demo.iml
demo2/gradle/
demo2/gradlew
demo2/gradlew.bat
demo2/local.properties
demo2/app/app.iml